doctype html
html(lang="en")
  head
    title Web app
  body
    h1 Pesho
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
