doctype html
html(lang="en")
  head
    block title
    link(rel="stylesheet" type="text/css" href="github/twbs/bootstrap@3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    include nav.jade
    div.container
      block content
    include footer.jade
    include scripts.jade
