nav.navbar.navbar-light.bg-faded
  div.container
    a.navbar-brand(href="#") Posaklivko
    ul.nav.navbar-nav
      li.nav-item.active
        a.nav-link(href="#") Home
      li.nav-item
        a.nav-link(href="#") About
      li.nav-item
        a.nav-link(href="#") Contact
